*.zip
*.jar
*.mod
*.o
*~
*.sw?
mx.nitro/*.pyc
mx.nitro/.project
mx.nitro/.pydevproject
mx.nitro/*.iml
mx.nitro/env
mx.nitro/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
nitro/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
/.metadata/
